.venv
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.log
**/.pytest_cache/
.git
.gitignore
.vscode
**/.DS_Store
**/node_modules
**/.next
.env
.env.*
**/.env
**/.env.*
**/kb/**
**/docs/**
**/infra/**

